{% extends 'base.html.twig' %}

{% block title %}New Album{% endblock %}

{% block body %}
<div class="container">
    <h1>Ajouter un nouvel album</h1>
    <div class="filet"></div>
        <div class="btn_action">
            <a class=" btn btn-primary"href="{{ path('album_index') }}">Retourner aux albums</a>
        </div>

    {{ include('album/_form.html.twig') }}

</div>
{% endblock %}
